


body {
    background: #F7E600;
}

* {
    font-family: 'Malgun Gothic', monospace;
}

p {
    font-size: 24px;
}


a {
    font-size: 2em;
    text-decoration: none;
    color: white;
    text-align: center;
}