@charset "utf-8";
/*Reset Code*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,
address,big,cite,code,del,dfn,em,font,img,ins,
q,s,samp,small,strike,strong,sub,sup,tt,var,b,
u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:none 0;border-spacing:0;color:#2D3C48}
body{font-family:'Esamanru',Arial,Sans-serif;background-color:#fff;font-size:14px;line-height:1;font-weight:300;letter-spacing:0;min-width:240px}
header,section,article,nav,aside,footer,address{margin:0;padding:0;border:none 0;border-spacing:0}
img,fieldset,iframe{border:0}
ol,ul,li{list-style:none}
input,select,button,img{vertical-align:middle;font-size:14px}
select, textarea{font-family:sans-serif;outline:none}
i,em,address{font-style:normal}
button{margin:0;padding:0;cursor:pointer;border:none;background:none}
a{color:#2D3C48}
a:link,a:visited{text-decoration:none;}
a:hover{text-decoration:none}
legend,caption{display:none}
input:focus,button:focus{outline:none}
img{max-width:100%;}
button{font-family:'Esamanru',Arial,Sans-serif;}
*{box-sizing:border-box}

/*Font 1rem=10px*/
html{font-size:62.5%;-webkit-text-size-adjust:none;}
@media all and (max-width:1680px){
    html{font-size:45%}
}
@media all and (max-width:1500px){
    html{font-size:43.75%}
}
@media all and (max-width:1024px){
    html{font-size:62.5%}
}