#header {
    background-color: #F7E600;
    border-bottom: 1px solid white;
    height: 60px;
    padding: 0 !important;
    line-height: unset !important;
    display: flex;
    justify-content: center;
    width: 100%;
}

.title{
    display: inline-block;
}