#qna {
    display: none;

}


.qBox {
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    font-size: 30px;
    width: 80%;
}


.answerList {
    /*background-color: whitesmoke;*/
    border-radius: 20px;
    display: block;
    width: 80%;
    border: 0px;
    font-size: 25px;

    background-color: #FEE500;
}


.answerList:hover, .answerList:focus {
    background-color: pink;
    color: whitesmoke;
}


.status {
    height: 20px;
    width: 80%;
    background-color: white;
    border-radius: 20px;
}

.statusBar {
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a9db80+0,96c56f+100;Green+3D+%232 */
    background: #a9db80; /* Old browsers */
    background: -moz-linear-gradient(top,  #a9db80 0%, #96c56f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #a9db80 0%,#96c56f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #a9db80 0%,#96c56f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 ); /* IE6-9 */

    border-radius: 20px;

}